.title {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.title p {
  font-family: Arial, Helvetica, sans-serif;
}
.product-img {
  height: 250px;
  padding: 12px 10px;
}
.proCard {
  background-color: #1e3d59 !important;
  color: #ffffff !important; /* White text */
}
.category-item {
  cursor: pointer !important;
}
